/*
    Created on : 28/06/2017, 03:06:36 PM
*/
/*
    Created on : 4/07/2017, 04:28:28 PM
    Author     : Jesus Rodriguez Miranda
*/
/*  
Fonts
*/
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Light.eot');
  src: url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Light.woff') format('woff'), url('../fonts/DINPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Bold.eot');
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Bold.woff') format('woff'), url('../fonts/DINPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Regular.eot');
  src: url('../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Regular.woff') format('woff'), url('../fonts/DINPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Medium.eot');
  src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Medium.woff') format('woff'), url('../fonts/DINPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
/*
General
*/
body {
  font-family: 'DINPro';
  font-size: 14px;
}
footer {
  background-color: #27AAE1;
  padding: 20px;
}
a {
  color: #00CACF;
}
.text-a1 {
  font-size: 45px;
}
.text-a2 {
  font-size: 30px;
}
.text-a3 {
  font-size: 20px;
}
.text-a4 {
  font-size: 14px;
}
.text-a5 {
  font-size: 12px;
}
.m {
  font-weight: 500;
}
.orange {
  color: #FF7A6C;
}
.gray {
  color: gray;
}
.blue-dark {
  color: #003E65;
}
.blue-middle {
  color: #27AAE1;
}
.white {
  color: white;
}
.text-right {
  text-align: right;
}
.margin-bt-5 {
  margin-bottom: 5px;
}
.margin-bt-40 {
  margin-bottom: 40px;
}
.margin-bt-18 {
  margin-bottom: 18px;
}
.margin-bt-25 {
  margin-bottom: 18px;
}
.margin-bt-20 {
  margin-bottom: 20px;
}
.margin-bt-30 {
  margin-bottom: 30px;
}
.margin-bt-inline {
  display: table-cell;
  line-height: 1px;
}
.background-white {
  background-color: white;
}
.background-blue-dark {
  background-color: #003f64;
}
.margin-left-3 {
  margin-left: 8px;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
object {
  pointer-events: none;
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.btn-dataset {
  color: #ffffff;
  background-color: #FF7A6C;
  padding-bottom: 7px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  -webkit-box-shadow: 0px 3px 10px 3px rgba(50, 50, 50, 0.24);
  -moz-box-shadow: 0px 3px 10px 3px rgba(50, 50, 50, 0.24);
  box-shadow: 0px 3px 10px 3px rgba(50, 50, 50, 0.24);
}
.center {
  text-align: center;
}
.margin-10 {
  margin-left: 100px;
  margin-right: 100px;
}
.margin-3 {
  margin-left: 8px;
  margin-right: 8px;
}
/*
Header
*/
.top-bar {
  margin: 0 auto;
  width: 100%;
  height: 70px;
}
.side-1 {
  float: left;
  width: 15%;
  height: 70px;
}
.side-1:after {
  content: ' ';
}
.side-2 {
  float: right;
  width: 15%;
  height: 70px;
}
.side-2:after {
  content: ' ';
}
.top-slider {
  height: 342px;
  background-image: url('../img/slider.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #8de1ff;
}
.logo {
  width: 320px;
  height: 70px;
}
.logo object {
  margin-top: 5px;
  width: 260px;
}
.logo-bogota-top {
  width: 70px;
  height: 70px;
  padding-top: 6px;
}
.logo-bogota-top object {
  text-align: right;
}
.log-in {
  height: 40px;
  background-color: #E6E6E6;
  text-align: right;
  padding-top: 10px;
}
.log-in a {
  margin-right: 25px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}
.menu {
  height: 30px;
}
/*
Top Menu
*/
/*.toggle-menu {
    display: none;
}*/
ul,
ol {
  list-style: none;
}
/*
Login Menu
*/
.nav-login {
  float: right;
  margin-left: -20px;
  z-index: 100;
  margin-top: -2px;
}
.nav-login > li {
  float: left;
}
.nav-login li a {
  color: #00CACF;
  font-size: 14px;
  padding: 0;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  background-color: transparent;
}
.nav-login li a:hover {
  background-color: transparent;
  text-decoration: underline;
}
.nav-login li a:active {
  background-color: transparent;
}
/*
Footer Menu
*/
.nav-footer {
  float: right;
  margin-left: -40px;
  z-index: 100;
  margin-top: 10px;
}
nav-footer > li {
  float: left;
}
.nav-footer li a {
  color: white;
  font-size: 14px;
  padding: 0;
  display: block;
  text-transform: none;
  font-weight: 300;
  background-color: transparent;
}
.nav-footer li a:hover {
  background-color: transparent;
  text-decoration: underline;
}
.nav-footer li a:active {
  background-color: transparent;
}
/*
Slider
*/
.messages-slider {
  margin-top: 60px;
  margin-left: 128px;
  margin-right: 128px;
}
.number-of-datasets {
  margin: 0 auto;
  float: left;
  width: 60%;
}
.entities span {
  position: relative;
  top: -15px;
}
.entities {
  margin: 0 auto;
  float: right;
  width: 30%;
}
.number-of-datasets span {
  position: relative;
  top: -15px;
}
/*
Search box
*/
.search-box {
  margin: 0 auto;
  background-color: #003E65;
  width: 800px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 100;
  margin-top: -18px;
  -webkit-box-shadow: 0px 3px 10px 3px rgba(50, 50, 50, 0.54);
  -moz-box-shadow: 0px 3px 10px 3px rgba(50, 50, 50, 0.54);
  box-shadow: 0px 3px 10px 3px rgba(50, 50, 50, 0.54);
}
.background-search {
  background-color: #FF7A6C;
  border-color: #FF7A6C;
  color: #fff;
}
.text-category {
  display: none;
}
.icon-row-size {
  height: 10px;
  padding-left: 10px;
}
.icon-menu {
  height: 20px;
}
/*
Dataset list
*/
.icon-dataset object {
  width: 32px;
  padding: 10% 0;
}
.icon-dataset {
  height: 50px;
  float: left;
  width: 10%;
  padding: 5% 0;
}
.name-category {
  height: 50px;
  width: 80%;
  float: right;
  padding-left: 5px;
  display: table;
}
.name-category a {
  color: white;
  display: table-cell;
  vertical-align: middle;
}
/*
Last Datasets
*/
.dataset-home {
  height: 325px;
  width: 225px;
  background-color: #f7f7f7;
  margin: 0 auto;
}
.dataset-home-photo img {
  width: 225px;
  height: 110px;
}
.icon-dataset-addon object {
  width: 12px;
}
.icon-dataset-addon {
  width: 15%;
  float: left;
}
.name-addon {
  margin-top: 2px;
  width: 85%;
  float: right;
}
.line-blue {
  height: 1px;
  background-color: #27AAE1;
  margin-top: 8px;
  margin-bottom: 12px;
}
.block-left {
  float: left;
  width: 45%;
}
.block-right {
  float: right;
  width: 50%;
}
.icon-entity {
  float: left;
  width: 30%;
}
.icon-entity img {
  width: 32px;
}
.name-entity {
  float: right;
  width: 70%;
}
/*
Test
*/
.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}
.show-grid-bg {
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}
